<div class="user-container">
  <img class="user-photo" src="https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="Profile photo">
  <div class="user-info">
    <h2 class="user-name">User name</h2>
    <h4 class="user-count">Number of posts: X</h4>
  </div>
</div>
<section class="bio-container">
  <h3 class="bio-title">Bio</h3>
  <p class="bio-description">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
    blanditiis maxime at quam vitae, alias expedita voluptatibus tempore eaque,
    odit reiciendis debitis dolorum autem reprehenderit tempora sunt soluta
    numquam saepe dolore facere et. Iure dolorem inventore dignissimos. Officiis
    excepturi explicabo, quisquam saepe nemo nostrum autem quam mollitia ea, at
    fugit.
  </p>
</section>
<ul class="posts-container">
  <li class="post">
    <h3 class="post-title">Post: #1</h3>
    <p class="post-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit minus
      maiores tenetur! Dolores aliquam alias dolor ab laboriosam quae ipsum?
    </p>
    <p class="post-interactions">Comments: X, Likes: Y</p>
  </li>
  <li class="post">
    <h3 class="post-title">Post: #2</h3>
    <p class="post-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit minus
      maiores tenetur! Dolores aliquam alias dolor ab laboriosam quae ipsum?
    </p>
    <p class="post-interactions">Comments: X, Likes: Y</p>
  </li>
  <li class="post">
    <h3 class="post-title">Post: #3</h3>
    <p class="post-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit minus
      maiores tenetur! Dolores aliquam alias dolor ab laboriosam quae ipsum?
    </p>
    <p class="post-interactions">Comments: X, Likes: Y</p>
  </li>
  <button class="button"> See all posts </button>
</ul>