<div class="user-container">
  <img class="user-photo" src="<%= user.photo %>" alt="Profile photo">
  <div class="user-info">
    <h2 class="user-name"><%= user.name %></h2>
    <h4 class="user-count">Number of posts: <%= user.posts_counter || 0 %></h4>
  </div>
</div>